
  
    <div class="md-form my-0">
      <input [(ngModel)]="inputsearch" name="inputsearch" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
    <button (click)=search() class="btn btn-outline-success btn-md my-2 my-sm-0 ml-3" type="submit" >Search</button>



<br>
 




  <form class="form-inline my-2 my-lg-0 ml-auto">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
  </form>


